{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}

    {% for todo in todos %}
        <div class="container">
            <div class="col-2">
                <div class="row">
                    <div class="card-deck">
                        <div class="card" style="width: 50rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ todo.name }}</h5>
                                <p class="card-text">{{ todo.description }}</p>
                                <a href="{{ path('todo_show', {'id': todo.id}) }}" class="card-link">Посмотреть</a>
                                <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="card-link">Изменить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

    <h1>Todo index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Описание действия</th>
            <th>Приоритет</th>
            <th>Дата создания</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.createdAt ? todo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('todo_edit', {'id': todo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('todo_new') }}">Create new</a>
    <style>
        form {


        }

        .col-2 {
            padding-top: 50px;
        }

        body {


        }

        h1 {
            padding-top: 80px;
            text-align: center;
        }

        .contact-section {
            padding-top: 80px;
        }

        footer {
            padding-top: 30px;
        }

        .card {
           text-align: center;
        }
    </style>
{% endblock %}
