{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
<div class="container">
    <div class="col-5">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.name }}</h5>
                    <p class="card-text">Описание: {{ todo.description }} </p>
                    <p class="card-text">Важность: {{ todo.priority }}</p>
                    <p class="card-text">Дата создания: {{ todo.createdAt ? todo.createdAt|date('Y-m-d H:i:s') : '' }} </p>
                    <a href="{{ path('own_todos') }}" class="btn btn-primary">Вернуться к списку</a>
                    <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-primary">Изменить</a>
                    {{ include('todo/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div></div>

    <style>
        .col-5 {
            margin-top: 80px;
        }
        .btn {
            margin-bottom: 5px;
        }
        h5{
            text-align: center;
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
        </style>
{% endblock %}
