{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}
{% block modals %}
    <div id="modalBackground">
        <template id="todoModalTemplate">
            <div class="modal-wrapper">
                <div class="modal-title">
                    <div class="modal-description">
                        <div class="modal-action"></div>
                    </div>
                </div>
            </div>
        </template>
    </div>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="list-group">
                    <a href="{{ path('todo_new') }}" class="list-group-item list-group-item-action">Добавить новое <i
                                class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="col-8">
                {% for todo in todos %}

                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">

                                    <input type="checkbox" name="checkbox"> <span> {{ todo.name }}</span>
                                    <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="mx-2">
                                        <i class="fas fa-user-edit"></i></a>
                                    <a href="{{ path('todo_show', {'id': todo.id}) }}" class="mx-2">
                                        <i class="fas fa-info-circle"></i></a>
{#                                    <a href="" class="mx-2" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ todo.name }}">#}
{#                                        <i class="fas fa-info-circle"></i></a>#}
                                    <a href="" class="mx-2" onclick="deleteTodo({{ todo.id }})">
                                        <i class="fas fa-trash-alt"></i></a>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="showExampleModal()" data-target="#exampleModal" data-whatever="{{ todo.name }}" data-description="{{ todo.description }}" >Open modal for </button>


                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <div class="row">

                            <h1>Пока нет записей...</h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <h6 class="modal-descr" id="exampleModalLabel">New message</h6>
{#                        <div class="form-group">#}
{#                            <label for="recipient-name" class="col-form-label">Recipient:</label>#}
{#                            <input type="text" class="form-control" id="recipient-name">#}
{#                        </div>#}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <style>
        input:checked + span {
            text-decoration: line-through;
        }

        h5 {
            text-align: center;
            font-size: 35px;
        }

        h1 {
color:white;
            padding-top: 100px;
        }


        .col-6 {
            padding-top: 5px;
        }

        .card-body {
            font-size: 30px;
        }

        .list-group-item {
            font-size: 20px;
        }

        #modalBackground {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #ccc;
            z-index: 100;
        }
    </style>
    <script>


        function deleteTodo(id) {
            $.post("/todo/"+id+"/delete", {}, function (data) {
                if (data.status === "success") {
                    alert("Успешное удалине!");
                } else {
                    alert("Что-то пошло не так");
                }
            });}
            function showExampleModal(){
        $(`#exampleModal`).on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget) ;
            let recipient = button.data('whatever');
            let desc = button.data('description');
            let modal = $(this);
            modal.find('.modal-title').text( recipient);
            modal.find('.modal-body input').val(recipient);
            modal.find('.modal-descr').text( desc);
        })}
    </script>

{% endblock %}
